{% extends "base.html" %}

{% block content %}
 
<div class="row">
    <!--left sidebar-->
    {% include "dashboard/sidebar.html" %}

    <!--Right side cpntent-->
    <div class="col-md-9">
        <span>Logged in as a <b>{{user}}</b> </span>
        <div class="row">
            
            <div class="col">
                <div class="card boarder-defaulr mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
                    <div class="card-body text-dark ">
                        <div class="card-title text-center ">{{category_count}}</div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card boarder-defaulr mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Posts</div>
                    <div class="card-body text-dark ">
                        <div class="card-title text-center ">{{blogs_count}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}