{% extends "base.html" %}

{% block content %}

<div class="row">
    <!--left sidebar-->
    {% include "dashboard/sidebar.html" %}
    {% load crispy_forms_tags %}
    <!--Right side cpntent-->
    <div class="col-md-9">
        {% if perms.auth.view_user %}
        <h2>Edit User</h2>
        
        <form action="" method='POST'  >
            {% csrf_token %}
            {{form |crispy }}
            <button type="submit" class="btn btn-warning">Edit</button>
        </form>
        <br>
        {% else %}
        <h5>You do not have permission to view this page</h5>
        {% endif %}
    </div>
</div>

{% endblock content %}